.footer {

    margin-top: 10%;
    text-align: center;
    padding-bottom: 200px;

    .location {
        font-size: 14vw;
        text-transform: uppercase;
        font-family: 'Bodoni Moda', sans-serif;
        opacity: 0;

        &.is-reveal {
            opacity: 1;
        }
    }
}
